[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
torchaudio = "*"
numpy = "*"
matplotlib = "*"
mediapipe-silicon = "*"
opencv-python = "*"
ipykernel = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
